
.cart-widget {
    width: 4rem;
    padding: 0.8rem;
    margin-right: 1rem;
    display: flex;
    border-radius: 1rem;
    background-color: rgb(202, 67, 67);
    align-items: center;
  
  }

  
  
  