.logo {
    width: 100%;

}

/* .navbar-menu {
    display: flex;
    align-content: space-between;
    
    

}

     */
/* styles.css */

.navbar {
    background: rgb(172, 92, 170);
    padding: 10px;
  }
  
  .Option, .ActiveOption {
    align-content: center;
    display: flex;
    
    justify-content: space-between;
    color: #fff;
    text-decoration: none;
  }
  
  .name {
    color: #fff;
  }
  .navbar-menu {
    display: flex;
     align-items: center; 
     justify-content: space-around;
  } 
  .navbar-end {
    display: flex;
    align-items: center;
  }
  .navbar- {
    display: flex;
    align-content: space-between;
    
  }